<DOCTYPE! html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>Git-Learning</title>
            
            <link href="http://localhost:8080/css/Layout.css" type="text/css" rel="stylesheet"  />
        </head>
        <body>
            

            <img class="logo" src='http://localhost:8080/images/logo3.png' alt="logo">
            
            <header>
                <a class="header2" href="/Profile">Profile</a>
                <form action="/logout" method="post">
                <p><input type="submit" value="Log Out"></p>
                </form>
            </header>
            <nav>
                <a class="nav1" href="/">Home</a>
                <a class="nav2" href="/">Lectures list</a>
                <a class="nav3" href="/Profile">Profile</a>
                <a class="nav4" href="/AboutUs">About Us</a>
            </nav>

            <article class="side">
                    <br>
                    <h1>{{{lecture.title}}}</h1>
                    
                    <h3>{{{question.question}}}</h3>
                    
                    <form>
                        <input type="radio" name="option" value="{{option.option1}}" > {{{option.option1}}}<br>
                        <input type="radio" name="option" value="{{option.option2}}" > {{{option.option2}}}<br>
                    </form>
                    <a class="Test" href="/lecture/{{question.lecture_id}}/quiz/{{question.id}}+1">Next</a><br><br>
                    
            </article>
            <!--<article class="links">
                <h1>Useful links</h1>
                <br>
                {{{Lecture.links}}}
            </article>-->


            <footer>
                <a class="f1" href="/ContactUs">Contact Us<br><br></a>
                <a class="f2" href="/Copyright">Copyright<br><br></a>
                <a class="f3" href="/Menu">Home<br></a>
                <p class="cr"> © Copyright E-learner 2019</p>
            </footer>
        </body>
        
    </html>
</DOCTYPE>